venv/
.venv/
uploads/*
!uploads/.gitkeep
*.pyc
__pycache__/
.env
press_articles.json
press_users.json
press_settings.json
press_settings.json
press_servers.json
!atemschutz_rein/__pycache__/
!atemschutz_rein/__pycache__/*.pyc
